body {
    font-family: Arial, sans-serif;
    background-color: red;
}
header {
    background-color: rgb(28, 161, 179);
    color: white;
}
a{
    color: white;
}
/* large-Text */
.large-text{
    font-size: 24px;
    color: white;
}
img{
    max-width: 100%;
    max-height: 600px;
}